doctype html
html
	head
		title WCN Files (beta) #{version}
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		script(type="text/javascript", src="//code.jquery.com/jquery-2.1.4.min.js")
	body
		div
			header
				h1
					a(href="/") WCN Files
				p with &#x2764; by Winneon
			div.content
				block content
			div.copyright Copyright &copy; 2015 Worlds Collide Network