extends core
block content
	h2 Login
	form(action="/manage", method="post")
		input(type="text", name="username", placeholder="Username")
		input(type="password", name="password", placeholder="Password")
		button(type="submit", name="submit")